/* Bar Hatsor 2020 */

@import url("/fonts/fonts.css");
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  transition: .2s ease;
  z-index: 2;
}
.header .icon {
  position: absolute;
  top: 17px;
  left: 25px;
}
.header .install {
  padding: 7px 12px;
  width: max-content;
  border: none;
  outline: none;
  background: #31b46c;
  color: white;
  font: inherit;
  font-size: 18px;
  font-weight: 100;
  border-radius: 10px;
  transition: .2s ease;
  cursor: pointer;
  float: right;
  margin: 14px;
  margin-right: 15px;
  opacity: 0;
}
.header.a {
  background: rgba(29,29,31,0.72);
}
.header.b {
  background: #111;
  box-shadow: inset 0 -1px 0 0 rgb(255 255 255 / 0.24);
}

.hero {
  position: fixed;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 54px;
  height: 100vh;
  width: calc(100% - 40px);
  padding: 0 20px 0 20px;
  background: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.hero a {
  margin-bottom: 17px;
  font-weight: 600;
  /* color: mediumseagreen; */
}
.hero span {
  font-size: 21.5px;
  font-weight: 100;
}
.hero install-wrapper {
  margin: 9px;
}
.hero .install {
  padding: 10px 15px;
  box-shadow: 3px 4px 5px 2px #00000012;
  width: max-content;
  border: none;
  outline: none;
  background: #31b46c;
  color: white;
  font: inherit;
  font-size: 18px;
  font-weight: 100;
  border-radius: 10px;
  transition: .2s ease;
  cursor: pointer;
}
.install.disabled {
  opacity: .5;
  box-shadow: none;
  cursor: default;
}
.install:not(.disabled):hover {
  background: #36c476;
}
.hero .arrow {
  display: block;
  margin: auto;
  margin-top: 27px;
  cursor: pointer;
}

#screening {
  position: relative;
  top: 100vh;
  height: calc(810px + 1vh);
  background: black;
  padding: 40px;
  overflow: hidden;
  border-radius: 30px;
}
#screening .left {
  width: 50%;
  position: absolute;
  top: 135px;
}
#screening .left h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.2em;
  position: relative;
  opacity: 0;
  transition: .2s ease;
}
#screening .left p {
  font-weight: 100;
  font-size: 1.3em;
  margin-top: 0.4em;
  position: relative;
  opacity: 0;
  transition: .2s .05s ease;
}
#screening .left a {
  font-size: 1em;
  font-weight: 100;
  position: relative;
  opacity: 0;
  transition: .2s .1s ease;
}
#screening .right {
  position: absolute;
  left: calc(50% + 38px);
  top: 75px;
}
#screening .right .iphone {
  position: relative;
  width: 415px;
  z-index: 1;
}
#screening .right .one {
  position: absolute;
  height: 761px;
  top: 49px;
  right: 34px;
}

html {
  background: black;
  color: #f9f9fa;
  font: 400 16px "Euclid", sans-serif;
  scroll-behavior: smooth;
  scrollbar-color: #253341 black;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
}

::selection {
  background: #f9f9fa33;
}

::-webkit-scrollbar {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #253341;
}
