@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/inter.woff2) format('woff2');
}

@font-face {
  font-family: 'Euclid';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/euclid.woff) format('woff');
}
